html,body{
    height: 100vh;
    width:100vw;
}

.App,#root{
    height:100%;
}

.w-container{
    height:100%;
    overflow: hidden;
    display : grid;
    grid-template-columns: 30% 70%;
    column-gap: 0vh;
}

._form{
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5); /* Apply a right-side shadow */
}

.result{
    background-color: #f0f2f5;
}

/* .w-container{
    height:100%;
    display : grid;
    grid-template-rows: 10% 60%;
    column-gap: 2vh;
} */